body {
    margin: 0;
    padding: 0;
}

.all_page_detailProduct {
    width: 100%;
    height: auto;
}
.head_page_detailProduct {
    height: 120px;
    font-size: 60px;
    line-height: 120px;
    margin: 0 0 40px 0;
    background-color: rgb(222, 222, 222);
}
.head_title {
    width: 90%;
    margin: 0 5%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.body_page_detailProduct {
    width: 90%;
    margin: 0 5%;
    margin-top: 2%;
    display: flex;
}
.body_left {
    width: 40%;
}
.title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 10px 0;
}
img {
    background-size: 80%;
}
.body_right {
    width: 70%;
}
.body_right {
    margin: 10px 0 10px 150px;
}
.information {
    margin: 10px 0 10px 0px;
    font-size: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.itemcode {
    display: flex;
}
.manufacturer {
    display: flex;
}
.category {
    display: flex;
}
.quantity {
    display: flex;
}
.price {
    display: flex;
}
.price .information {
    font-size: 25px;
}
.information {
    font-weight: normal;
}
.status {
}
.back {
    width: 100px;
    background-color: rgb(53, 193, 34);
    color: white;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid rgb(53, 193, 34);
    border-radius: 5px;
    cursor: pointer;
}
.fa-arrow-alt-left {
    color: white;
}
.text_detail{
    text-decoration: none;
}
.Order_Now {
    background-color: rgb(255, 168, 17);
    color: white;
    height: 40px;
    font-size: 20px;
    border: 1px solid rgb(255, 168, 17);
    border-radius: 5px;
    cursor: pointer;
}
.fa-shopping-cart {
    color: white;
}
